<div class="card">
    {{#each this}}
        <div class="card-top-info">
            <img src="{{flags.svg}}" alt="" width = "40px">
            <h2 class="card-title">{{name.official}}</h2>
        </div>        
        <p class="card-text">Capiral:{{capital}}</p>
        <p class="card-text">Population:{{population}}</p>
        <p class="card-text">Languages:</p>
        <ul>
        {{#each languages}}
            <li>{{this}}</li>
        {{/each}}
        </ul>        
    {{/each}}
</div>